{% extends 'base.html' %}
{% block main %}
    <!-- TODO #1a: show the name of the user -->
    <p>{{current_user.name}}'s Recipes</p>
    <table>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Type</th>
            <th>Tags#</th>
            <th>Action</th>
        </tr>
        <!-- TODO #1b: show the user's recipes on the table -->
            {% for x in recipes %}
            <tr>
                <td>{{ x.number }} </td>
                <td>{{ x.title }} </td>
                <td>{{ x.type }} </td>
                <td>{{ x.tags }} </td>
                <td> <button type="button" class="button" onclick=simple_action("{{ url_for('recipes_delete', number=x.number) }}")>Delete</button></td>

                
            </tr>
            {% endfor %}
    </table>
    <p />
    <button type="button" class="button" onclick=simple_action("{{ url_for('signout') }}")>Sign Out</button>&nbsp;&nbsp;<button type="button" class="button" onclick=simple_action("{{ url_for('recipes_create') }}")>New Recipe</button>
    <script type="text/javascript">
        function simple_action(target) {
            window.location = target
        }

        function confirmed_action(target) {
                if (confirm('Are you sure?')) {
                    window.location = target
                }
            }
    </script>
{% endblock %}